Parcial02/App_WebReferences/localhost/User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://aspspider.info/nicolascof/parcial02/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://aspspider.info/nicolascof/parcial02/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://aspspider.info/nicolascof/parcial02/">
      <s:element name="VerificarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarUsuario" />
  </wsdl:message>
  <wsdl:message name="VerificarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="UserSoap">
    <wsdl:operation name="VerificarUsuario">
      <wsdl:input message="tns:VerificarUsuarioSoapIn" />
      <wsdl:output message="tns:VerificarUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserSoap" type="tns:UserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarUsuario">
      <soap:operation soapAction="http://aspspider.info/nicolascof/parcial02/VerificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserSoap12" type="tns:UserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarUsuario">
      <soap12:operation soapAction="http://aspspider.info/nicolascof/parcial02/VerificarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User">
    <wsdl:port name="UserSoap" binding="tns:UserSoap">
      <soap:address location="http://localhost:1051/Parcial02/WebServices/User.asmx" />
    </wsdl:port>
    <wsdl:port name="UserSoap12" binding="tns:UserSoap12">
      <soap12:address location="http://localhost:1051/Parcial02/WebServices/User.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>