Parcial02/App_WebReferences/localhostProduct/Product.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://null/parcial02/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://null/parcial02/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://null/parcial02/">
      <s:element name="MostrarProductos">
        <s:complexType />
      </s:element>
      <s:element name="MostrarProductosResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscarProducto">
        <s:complexType />
      </s:element>
      <s:element name="BuscarProductoResponse">
        <s:complexType />
      </s:element>
      <s:element name="CrearProducto">
        <s:complexType />
      </s:element>
      <s:element name="CrearProductoResponse">
        <s:complexType />
      </s:element>
      <s:element name="GuardarProducto">
        <s:complexType />
      </s:element>
      <s:element name="GuardarProductoResponse">
        <s:complexType />
      </s:element>
      <s:element name="ActualizarProducto">
        <s:complexType />
      </s:element>
      <s:element name="ActualizarProductoResponse">
        <s:complexType />
      </s:element>
      <s:element name="BorrarProducto">
        <s:complexType />
      </s:element>
      <s:element name="BorrarProductoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MostrarProductosSoapIn">
    <wsdl:part name="parameters" element="tns:MostrarProductos" />
  </wsdl:message>
  <wsdl:message name="MostrarProductosSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarProducto" />
  </wsdl:message>
  <wsdl:message name="BuscarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="CrearProductoSoapIn">
    <wsdl:part name="parameters" element="tns:CrearProducto" />
  </wsdl:message>
  <wsdl:message name="CrearProductoSoapOut">
    <wsdl:part name="parameters" element="tns:CrearProductoResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarProducto" />
  </wsdl:message>
  <wsdl:message name="GuardarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarProducto" />
  </wsdl:message>
  <wsdl:message name="ActualizarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="BorrarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:BorrarProducto" />
  </wsdl:message>
  <wsdl:message name="BorrarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:BorrarProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductSoap">
    <wsdl:operation name="MostrarProductos">
      <wsdl:input message="tns:MostrarProductosSoapIn" />
      <wsdl:output message="tns:MostrarProductosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <wsdl:input message="tns:BuscarProductoSoapIn" />
      <wsdl:output message="tns:BuscarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearProducto">
      <wsdl:input message="tns:CrearProductoSoapIn" />
      <wsdl:output message="tns:CrearProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarProducto">
      <wsdl:input message="tns:GuardarProductoSoapIn" />
      <wsdl:output message="tns:GuardarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <wsdl:input message="tns:ActualizarProductoSoapIn" />
      <wsdl:output message="tns:ActualizarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BorrarProducto">
      <wsdl:input message="tns:BorrarProductoSoapIn" />
      <wsdl:output message="tns:BorrarProductoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductSoap" type="tns:ProductSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarProductos">
      <soap:operation soapAction="http://null/parcial02/MostrarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <soap:operation soapAction="http://null/parcial02/BuscarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearProducto">
      <soap:operation soapAction="http://null/parcial02/CrearProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarProducto">
      <soap:operation soapAction="http://null/parcial02/GuardarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap:operation soapAction="http://null/parcial02/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarProducto">
      <soap:operation soapAction="http://null/parcial02/BorrarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductSoap12" type="tns:ProductSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarProductos">
      <soap12:operation soapAction="http://null/parcial02/MostrarProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <soap12:operation soapAction="http://null/parcial02/BuscarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearProducto">
      <soap12:operation soapAction="http://null/parcial02/CrearProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarProducto">
      <soap12:operation soapAction="http://null/parcial02/GuardarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap12:operation soapAction="http://null/parcial02/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarProducto">
      <soap12:operation soapAction="http://null/parcial02/BorrarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Product">
    <wsdl:port name="ProductSoap" binding="tns:ProductSoap">
      <soap:address location="http://localhost:1149/WSProduct/Product.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductSoap12" binding="tns:ProductSoap12">
      <soap12:address location="http://localhost:1149/WSProduct/Product.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>